<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Overzicht Systemen</h1>
<% end %>

<%= render 'table', :object => @systemen %>

<br>
<div class="callout primary">
  <h5>Opmerking:</h5>
  <p>
    Voeg een nieuw systeem toe via het <%= link_to 'fabrikaat', fabrikaten_path %>.
  </p>
</div>
