<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Systemen</h1>
<% end %>

<%= render 'table', :object => @systemen %>

<%= link_to new_fabrikaat_systeem_path, class: 'button', id: 'new' do %>
  <i class="fi-plus"></i> Systeem toevoegen
<% end %>
