<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Fabrikaat Toevoegen</h1>
<% end %>

<%= render 'form', fabrikaat: @fabrikaat %>

<%= link_to 'Back', fabrikaten_path %>
