<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Bewerken</h1>
<% end %>

<%= render 'form', color: @color %>

<%= link_to 'Show', @color %> |
<%= link_to 'Back', colors_path %>
