@import "foundation_and_overrides";

body {
  font-family: 'Roboto Slab', 'Roboto';
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}

// TODO: This is a hack to get Foundation 6 styles on simple_form
// elements with errors.
.input.error {
  label {
    @extend .is-invalid-label;
  }

  input,
  textarea,
  select {
    @extend .is-invalid-input;
  }

  small.error {
    @extend .form-error;
    @extend .is-visible;
  }
}
