<h1><%= @calculatie.number %></h1>
<p class="lead"><%= @calculatie.name %></p>
<p><%= params.keys %></p>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
