<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Bewerken</h1>
<% end %>

<!-- Breadcrumbs -->
<% breadcrumb :calculatie, @calculatie %>

<!-- Form -->
<%= render 'form', calculatie: @calculatie %>

<!-- Bottom links -->
<%= link_to calculaties_url, class: 'button hollow secondary' do %>
  <i class="fi-arrow-left"></i>
<% end %>
